<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KhumaloCraftEmporium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KhumaloCraftEmporium.styles.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Home Page";
}
    
<div class="container">
        <div class="image-text-container">
            <img src="/ImagesWork/juteBag.jpeg" alt="Jute Bag">
            <h4>Multi-purpose Jute Bag  </h4>
        </div>
</div>
    

           <p>  Features:
          <br>  - Premium material: high quality straw and cotton mixture
          <br>  - Large capacity straw jute bag with top hendles
          <br>  - Subtle and soft design to blend in
          <br>  -Ideal for any and all occassions such as shopping, travelling, holidays, and home storage
          </p>                     
</div>


 <footer>
    
</footer>