<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KhumaloCraftEmporium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KhumaloCraftEmporium.styles.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Home Page";
}
    
<div class="container">
        <div class="image-text-container">
            <img src="/ImagesWork/palletDesk.jpg" alt="Pallet Desk">
            <h4>Pallet desk, for studies  </h4>
        </div>
</div>
    

           <p>  Features:
          <br>  - Glossy exterior/interior
          <br>  - Large c-handle for easy grip and comfort
          <br>  - 330ml capacity
          <br>  -dishwasher and microwave safe
          <br>  - Ideal for office, homes, desks, promotional gifts and special occasions</p>                     
</div>


 <footer>
     
</footer>