<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KhumaloCraftEmporium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KhumaloCraftEmporium.styles.css" asp-append-version="true" />
</head>

@{
    ViewData["Title"] = "Home Page";
}
    
<div class="container">
        <div class="image-text-container">
            <img src="/ImagesWork/kitchenSpoon.jpeg" alt="Kitchen Spoon">
            <h4>3 Wooden Cooking Spoons bundle - R250  </h4>
        </div>
</div>
    

           <p>  Features:
          <br>  - Fully durable, natural wood spoons, all made from the same tree
          <br>  - Simple and elegant design
          <br>  - light subtle colour
          <br>  -includes 3 multi-purpose wooden spoons for cooking
          <br>  - Ideal for office, homes, desks, promotional gifts and special occasions</p>                     
</div>


 <footer>
     
</footer>